<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
        <servlet>
            <servlet-name>GateServlet</servlet-name>
            <servlet-class>servlet.GateServlet</servlet-class>
        </servlet>
    <servlet-mapping>
        <servlet-name>GateServlet</servlet-name>
        <url-pattern>/servlet/GateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GateProcessListener</servlet-name>
        <servlet-class>servlet.GateProcessListener</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GateProcessListener</servlet-name>
        <url-pattern>/servlet/GateProcessListener</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImportGate</servlet-name>
        <servlet-class>servlet.ImportGate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportGate</servlet-name>
        <url-pattern>/servlet/ImportGate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GateConfigServlet</servlet-name>
        <servlet-class>servlet.GateConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GateConfigServlet</servlet-name>
        <url-pattern>/servlet/GateConfigServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteDatabase</servlet-name>
        <servlet-class>servlet.DeleteDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDatabase</servlet-name>
        <url-pattern>/servlet/DeleteDatabase</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteGate</servlet-name>
        <servlet-class>servlet.DeleteGate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteGate</servlet-name>
        <url-pattern>/servlet/DeleteGate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImportDatabase</servlet-name>
        <servlet-class>servlet.ImportDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportDatabase</servlet-name>
        <url-pattern>/servlet/ImportDatabase</url-pattern>
    </servlet-mapping>

</web-app>